@import "@src/styles.scss";

.form-wrapper {
  display: grid;
  grid-template-columns: 400px;
  justify-content: center;
  gap: 40px;
  padding: 120px 16px 16px;

  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .title {
      @include typography-heading-1-medium;
      color: var(--arsenic-color);
    }

    .link-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;

      .subtitle {
        @include typography-body-normal;
      }
    }
  }

  .fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .button-color {
    background-color: var(--majorelle-blue-color);
    color: var(--base-white-color);
  }
}
