@import "@src/styles.scss";

.button-wrapper {
  padding: 18px 14px;
  display: flex;
  justify-content: end;

  .collapse-button {
    border: none;
    background-color: inherit;
    transition: transform 0.6s ease;
    height: 20px;
    cursor: pointer;
  }

  .collapse-button-rotate {
    transform: rotate(-180deg);
  }
}

.item-link {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;

  .link-title {
    color: var(--base-white-color);
    @include typography-body-medium;
    transition: opacity 0.6s ease;
  }

  .collapse-link-title {
    opacity: 0;
  }
}

.active-link {
  &::before {
    content: "";
    height: 44px;
    width: 4px;
    position: absolute;
    left: 0;
    background-color: var(--majorelle-blue-color);
  }
}
