<div class="button-wrapper">
  <button (click)="handleSidebar()" class="collapse-button" [ngClass]="{ 'collapse-button-rotate': collapsed }">
    <img src="assets/svg/collapse.svg" alt="">
  </button>
</div>

<nav>
  <ul>
    <li routerLinkActive="active-link">
      @let accessToken = spotifyStore.accessToken();
      <a class="item-link" [routerLink]="['/dashboard']"
        [fragment]="accessToken ? 'access_token=' + accessToken : undefined">
        <img src="assets/svg/dashboard.svg" alt="">

        <span class="link-title" [ngClass]="{ 'collapse-link-title': !collapsed }">
          Dashboard
        </span>
      </a>
    </li>

    <li routerLinkActive="active-link">
      <a class="item-link" [routerLink]="['/user', authStore.user()?.user?.uid]">
        <img src="assets/svg/user.svg" alt="">

        <span class="link-title" [ngClass]="{ 'collapse-link-title': !collapsed }">
          User
        </span>
      </a>
    </li>
  </ul>
</nav>