<div class="wrapper">
  <div class="input-search-wrapper">
    @let searchValue = searchValue$ | async;
    <button class="button-icon" (click)="handleSpotify()" [disabled]="!searchValue">
      <img src="assets/svg/search.svg" alt="">
    </button>

    <input type="text" class="input-search" (keyup.enter)="handleSpotify()" placeholder="Search" [value]="searchValue"
      (input)="handleSearch($event)">
  </div>

  <div class="button-wrapper">
    <button class="button button-color" (click)="logOut()">Log out</button>
  </div>
</div>