@import "@src/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
  padding: 40px 16px 16px;
}

.progress-bar-wrapper {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  .progress-line {
    height: 4px;
  }

  .progress-line-active {
    background-color: var(--majorelle-blue-color);
  }

  .progress-line-inactive {
    background-color: var(--bright-gray-color);
  }
}

.form-wrapper {
  display: grid;
  grid-template-columns: 400px;
  gap: 40px;

  .form-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .step-count {
      @include typography-caption-1-normal;
      color: var(--cadet-blue-crayola-color);
    }

    .form-link-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title {
        @include typography-heading-1-medium;
        color: var(--arsenic-color);
      }

      .link-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        .subtitle {
          @include typography-body-normal;
        }
      }
    }
  }

  .buttons-wrapper {
    display: flex;
    gap: 16px;
  }

  .button-color {
    background-color: var(--majorelle-blue-color);
    color: var(--base-white-color);
  }

  .button-back-color {
    background-color: var(--bright-gray-color);
    color: var(--dark-electric-blue-color);
  }
}
