@import "@src/styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    @include typography-caption-1-normal;
    color: var(--arsenic-colo);
  }

  .list {
    .item {
      display: flex;
      align-items: center;
      gap: 6px;
      height: 20px;

      .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--lavender-gray-color);
      }

      .dot-valid {
        background-color: var(--kelly-green-color);
      }

      .text {
        @include typography-caption-1-normal;
        color: var(--cool-gray-color);
      }

      .text-valid {
        color: var(--arsenic-color);
      }
    }
  }
}
