<div class="wrapper" [id]="theme$ | async">
  <div class="calculatorDisplay" [title]="displayValue" #calculatorDisplay>
    @for(value of displayValue; track $index) {
    <span class="text">{{ value }}</span>
    }
  </div>

  <div class="calculatorButtons">
    @for (button of calcButtons; track button.title; let idx = $index) {
    <button appButtonHoverEffect="0.8" [class]="'btnDefault' + ' ' + button.class" [ngClass]="{
        btnZero: button.title === '0'
      }" (click)="buttonActionsMap[button.action](button.title)">
      {{ button.title }}
    </button>
    }
  </div>
</div>